@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSansJP-Light.otf'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format('opentype');
}

body {
    font-family: 'Noto Sans JP', 'Meiryo', sans-serif;
    font-size: 16px;
    color: black;
    background-color: white;
    overflow-wrap: break-word;
    margin: 0 0 0 0;
    padding-bottom: 50px; /* 下部ナビゲーションバーの分 */
}

a {
    color: gray;
}

a:hover {
    color: darkslategray;
    text-decoration: none;
    background-color: lightgray;
}

table, th, td {
    border: 4px solid white;
    border-collapse: collapse;
    padding: 0.4em;
}

th {
    color: white;
    background-color: darkslategray
}

td {
    background-color: lightgray
}

/* ソースコードは折り返さない */
pre {
    word-break: keep-all;
}

/* クローム拡張でスクロールバーを変更 */
pre::-webkit-scrollbar {
    width: 8px;
}

pre::-webkit-scrollbar:horizontal {
    height: 8px;
}

pre::-webkit-scrollbar-button {
    display: none;
}

pre::-webkit-scrollbar-track-piece {
    background: darkslategray;
}

pre::-webkit-scrollbar-thumb {
    background: lightgray;
}

pre::-webkit-scrollbar-thumb:hover {
    background: gray;
}

pre::-webkit-scrollbar-corner {
    display: none;
}

.container {
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 990px;
}

@media screen and ( max-width: 768px ) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
        max-width: 750px;
    }
}

.pull-right {
    margin-right: 8px;
    float: right;
}

.inlined {
    display: inline;
}

blockquote {
    border-left: 3px solid black;
    padding-left: 10px;
}

/* body直下で全体のレイアウトを調整 */
.root {
    padding-right: 240px;
    padding-left: 50px;
}

@media screen and ( max-width: 768px ) {
    .root {
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* ページ上部のサイト名の表示 */
.site {
    padding-right: 1em;
    text-align: right;
}

.site-link {
    color: black;
    text-decoration: none;
}

img {
    max-width: 90%;
}

.site-link:hover {
    background-color: white;
}

/* ページ下部のナビゲーションアイコン */

.visible-phone {
    display: none !important;
}

.visible-pc {
    display: block !important;
}

@media screen and ( max-width: 768px ) {

    .visible-phone {
        display: block !important;
    }

    .visible-pc {
        display: none !important;
    }

}

.nav-phone {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-icon-popup {
    position: fixed;
    bottom: 64px;
    right: 54px;
}

.theme-icon-popup {
    position: fixed;
    bottom: 64px;
    right: 118px;
}

.transparent {
    background-color: transparent;
}

.icon {
    fill: black;
}

.icon-theme-normal {
    fill: black;
    background-color: white;
}

.icon-theme-dark {
    fill: white;
    background-color: black;
}

.notification {
    padding: 12px;
    color: white;
    background-color: black;
}

.notification-icon {
    vertical-align: text-top;
    fill: white;
}
